body {
    background: #ADD8E6;
}

/* Базовые стили слоя затемнения и модального окна  */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    }

    .overlay:target {
        visibility: visible;
        opacity: 1;
        }
        .is-image {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display:block;
        margin: 10%;
        width: 100%;
        height: auto;
    }

        /*** Формируем стили модального окна ***/
.popup {
    top: 0;
    right: 0;
    left: 0;
    font-size: 14px;
    z-index: 10;
    display: block;
    visibility: hidden;
    margin: 0 auto;
    width: 90%;
    min-width: 320px;
    max-width: 600px;
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    /* скругление углов */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    /* внешняя тень блока */
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    /* полная прозрачность окна, появление при клике */
    opacity: 0;
    /* эффект перехода (появление) */
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    }
    /* активируем появление окна и затемнение фона */
    .overlay:target+.popup {
    top: 20%; /* положение окна от верха страницы при появлении */
    visibility: visible;
    opacity: 1; /* убираем прозрачность */
    }

    /* button */

.button {

    font-size: 20px;
    color: white;
    width: 270px;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-family: Helvetica, Arial, sans-serif;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
  
  }
  .button-blue {
    background-color: #0600FF;
    }
  .button:hover {
    background-color: #e055ff;
    box-shadow:0 0 10px 10px #ffb7ef inset;
  }
  .button:active {
      background-color: #ff009d;
      box-shadow:0 0 0 0 #ffffff; 
  }

